<div class="user-details-bis">
    <h1>Education</h1>
    <div class="education-row">
        <div class="education-column">
            <h3>University of Bath</h3>
            <h4>MSc Artificial Intelligence<br>(2025)</h4>
            <a href="https://www.bath.ac.uk/" target="_blank">
                <img src="assets/img/bath.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="University of Bath logo">
            </a>
            <p>Master of Science in Artificial Intelligence</p>
        </div>
        <div class="education-column">
            <h3>University of Bern</h3>
            <h4>CAS Advanced Machine Learning<br>(Aug 2024 &ndash; Jul 2025)</h4>
            <a href="https://www.unibe.ch/" target="_blank">
                <img src="assets/img/bernlogo.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="University of Bern logo">
            </a>
            <p>Certificate of Advanced Studies in Advanced Machine Learning.<br>
               Currently pursuing CAS in NLP (Jun 2025 &ndash; Jul 2026).</p>
        </div>
        <div class="education-column">
            <h3>University of Edinburgh</h3>
            <h4>BSc Theoretical &amp; Mathematical Physics<br>(1991&ndash;1995)</h4>
            <a href="https://www.ed.ac.uk/" target="_blank">
                <img src="assets/img/edinbughlogo.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="University of Edinburgh logo">
            </a>
            <p>Bachelor's degree in Theoretical and Mathematical Physics &mdash; the analytical foundation
               underlying all subsequent engineering and AI work.</p>
        </div>
    </div>
</div>
