<div class="user-details-bis">
    <h1>Work Experience</h1>
    <div class="education-row">
        <div class="education-column">
            <h3>GARAIO AG / SBB</h3>
            <h4>Data / AI / Cloud Engineer<br>(Mar 2025 &ndash; Present)</h4>
            <a href="https://www.garaio.com/" target="_blank">
                <img src="assets/img/garaio.svg" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                    alt="GARAIO AG">
            </a>
            <p class="work-text">Placed as Data Engineer at SBB (Swiss Federal Railways). Building data pipelines
                and cloud solutions on the Azure / Snowflake stack. Driving data engineering and MLOps in a
                large-scale enterprise environment.</p>
        </div>
        <div class="education-column">
            <h3>Bundesamt f&uuml;r Informatik BIT</h3>
            <h4>Senior Software Developer<br>(Oct 2019 &ndash; Apr 2024)</h4>
            <a href="https://www.bit.admin.ch/" target="_blank">
                <img src="assets/img/bit.svg" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                    alt="BIT">
            </a>
            <p class="work-text">Led WPF front-end development for the Swiss Federal Statistical Office.
                Delivered C# / ASP.NET Core APIs, SQL Server (Always On) optimisation, Elasticsearch integration,
                Entity Framework, CI/CD pipelines, and an Appium automated test framework. DevOps Scrum team.</p>
        </div>
        <div class="education-column">
            <h3>CAT Financial Products AG</h3>
            <h4>IT Architect<br>(Dec 2013 &ndash; Mar 2016)</h4>
            <a href="https://www.linkedin.com/in/alex-chilton-6b9a8787/" target="_blank">
                <img src="assets/img/cat.svg" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                    alt="CAT Financial Products AG">
            </a>
            <p class="work-text">Designed and built a WPF trading platform for structured financial products in
                Z&uuml;rich. Full-stack: payment workflows, Bloomberg-integrated reporting, pricing monitors,
                MVC ASP.NET web portal, and complete database architecture.
                Stack: WPF, MVVM, Entity Framework, MSSQL, Reporting Services.</p>
        </div>
    </div>
    <div style="text-align: center; margin-top: 1em;">
        <p>
            <em>Full career history &mdash; including IoT / blockchain at Next Big Thing AG, rail-network
            optimisation at PSI Transcom, Oil &amp; Gas SOA at Lomosoft, and
            20+ years of .NET / Azure / data engineering &mdash; on
            <a href="https://www.linkedin.com/in/alex-chilton-6b9a8787/" target="_blank">LinkedIn</a>.</em>
        </p>
    </div>
</div>
